@model IEnumerable<AeroportASP.Models.Trip>

@{
    ViewData["Title"] = "Trips";
}

<h1>Trips</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form method="get">
    <div class="row">
        <div class="form-inline form-group col mb-1">
            <label class="control-label">Company: 
                <select name="id_comp" asp-items="ViewBag.Companies" class="form-control"></select>
            </label>
        </div>
    </div>
            <input type="submit" value="View" class="btn btn-primary"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripNo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TownFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TownTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompNavigation.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TripNo" class="btn btn-outline-info">Edit</a> |
                <a asp-action="Passengers" asp-route-id="@item.TripNo" class="btn btn-outline-info">Passengers</a> |
                <a asp-action="CreateForTrip" asp-controller="PassInTrips" asp-route-trip_no="@item.TripNo" class="btn btn-outline-success">Add passenger</a> |
                <a asp-action="Delete" asp-route-id="@item.TripNo" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
