@model IEnumerable<AeroportASP.Models.Passenger>

@{
    ViewData["Title"] = "Passengers";
}

<h1>Passengers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPsg"  class="btn btn-outline-info">Edit</a> |
                <a asp-action="Trips" asp-route-id="@item.IdPsg" class="btn btn-outline-info">Trips</a> |
                <a asp-action="CreateForPsg" asp-controller="PassInTrips" asp-route-id_psg="@item.IdPsg" class="btn btn-outline-success">Add to a trip</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPsg" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
